/.metadata/
/.recommenders/
AvaluoApp/target/classes/co/com/avaluo/controller/PropertyBB.class
AvaluoApp/target/classes/co/com/avaluo/service/ServicesService.class
AvaluoApp/target/m2e-wtp/web-resources/META-INF/maven/AvaluoApp/co.com.avaluoapp/pom.properties
AvaluoApp/target/classes/co/com/avaluo/service/SoftwareService.class
AvaluoApp/WebContent/pages/estratos.xhtml
AvaluoApp/WebContent/pages/estratos.xhtml
AvaluoApp/WebContent/pages/estratos.xhtml
RemoteSystemsTempFiles/.project
