/.metadata/
/.recommenders/
AvaluoApp/target/classes/co/com/avaluo/controller/PropertyBB.class
AvaluoApp/target/classes/co/com/avaluo/service/ServicesService.class
AvaluoApp/target/m2e-wtp/web-resources/META-INF/maven/AvaluoApp/co.com.avaluoapp/pom.properties
AvaluoApp/target/classes/co/com/avaluo/service/SoftwareService.class
AvaluoApp/WebContent/pages/estratos.xhtml
AvaluoApp/WebContent/pages/estratos.xhtml
AvaluoApp/WebContent/pages/estratos.xhtml
RemoteSystemsTempFiles/.project
*.class
AvaluoApp/.classpath
AvaluoApp/.settings/org.eclipse.wst.common.project.facet.core.xml
AvaluoApp/target/classes/co/com/avaluo/model/entity/Usuario.class
*.class
Servers/Tomcat v9.0 Server at localhost-config/catalina.policy
Servers/Tomcat v9.0 Server at localhost-config/server.xml
AvaluoApp/.classpath
AvaluoApp/.settings/org.eclipse.wst.common.project.facet.core.xml
AvaluoApp/.classpath
AvaluoApp/.settings/org.eclipse.wst.common.project.facet.core.xml
AvaluoApp/target/m2e-wtp/web-resources/META-INF/maven/AvaluoApp/co.com.avaluo/pom.properties
AvaluoApp/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
Servers/Tomcat v9.0 Server at localhost-config/server.xml
